@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


body {
    background-color: black;
    color: white;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;    
}
input {
    border: none;
    background-color: black;
    outline: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;    
    font-size: 15px;
}
